body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: Noto;
    src: url("../font/NotoSansKR-Bold.otf") format("opentype"); /* format에 적으면 컴퓨터가 잘 이해할 수 있음. 안 적어도 됨 */
  }
  
  * {
    font-family: "Noto";
    font-weight: 100;
    /* 폰트 굵기 100~900 */
    /* 기본값 400, thin 100, bold 700, extra bold 900 */
    font-weight: bold; /* 700 */
  }